<template>
    <div class="modal-background" @click.self="closeModal">
        <div class="modal-wrapper">
            <a class="modal-close-button" @click="closeModal"></a>
            <div class="modal-form">
                <h2>Add a storage</h2>
                <form>
                    <div class="modal-storages-add-row">
                        <div class="modal-storages-add-row-label">
                            <label for="storage_name">Storage name:</label>
                        </div>
                        <div class="modal-storages-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('name') }">
                            <input type="text" name="storage_name" id="storage_name" ref="name" /><br/>
                        </div>
                    </div>
                    <div class="modal-storages-add-row modal-storages-add-error" v-if="errors.hasOwnProperty('name')">
                        <strong>{{ errors.name[0] }}</strong>
                    </div>
                    <div class="modal-storages-add-row">
                        <div class="modal-storages-add-row-label">
                            <label for="storage_balance">Initial balance:</label>
                        </div>
                        <div class="modal-storages-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('balance') }">
                            <input type="number" step="0.01" name="storage_balance" id="storage_balance" ref="balance" /><br/>
                        </div>
                    </div>
                    <div class="modal-storages-add-row modal-storages-add-error" v-if="errors.hasOwnProperty('balance')">
                        <strong>{{ errors.balance[0] }}</strong>
                    </div>
                    <div class="modal-storages-add-row">
                        <div class="modal-storages-add-row-label">
                            <label for="storage_id">Storage type:</label>
                        </div>
                        <div class="modal-storages-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('type_id') }">
                            <select name="type_id" id="storage_id" ref="type_id">
                                <option v-for="type in modal_data.storage_types" :value="type.id">{{ type.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-storages-add-row modal-storages-add-error" v-if="errors.hasOwnProperty('type_id')">
                        <strong>{{ errors.type_id[0] }}</strong>
                    </div>
                    <div class="modal-storages-add-row modal-storages-add-row-button">
                        <input type="submit" value="INSERT" @click.prevent="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddStorageModal",
        props: ['modal_data', 'errors'],
        methods: {
            submit: function () {
                let data = {
                    name: this.$refs.name.value,
                    balance: this.$refs.balance.value,
                    type_id: this.$refs.type_id.value
                };
                this.addStorage(data);
            }
        }
    }
</script>
