<template>
    <div class="modal-background" @click.self="closeModal" v-if="loaded">
        <div class="modal-wrapper">
            <a class="modal-close-button" @click="closeModal"></a>
            <div class="modal-form">
                <h2>Add a transaction</h2>
                <form>
                    <div class="modal-transactions-add-row">
                        <div class="modal-transactions-add-row-label">
                            <label for="action">Action:</label>
                        </div>
                        <div class="modal-transactions-add-row-input modal-transactions-add-row-actions" :class="{ 'modal-input-error': errors.hasOwnProperty('action') }">
                            <select name="action" id="action" v-model="action_field" @change="resetTransferFields">
                                <option v-for="(value, action) in modal_data.transaction_groups" :value="action">{{ action }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-transactions-add-row modal-transactions-add-error" v-if="errors.hasOwnProperty('action')">
                        <strong>{{ errors.action[0] }}</strong>
                    </div>
                    <div class="modal-transactions-add-row" v-if="!isTransferFieldShown">
                        <div class="modal-transactions-add-row-label">
                            <label for="created_at">Transaction date:</label>
                        </div>
                        <div class="modal-transactions-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('created_at') }">
                            <input type="date" name="created_at" id="created_at" v-model="created_at_field" />
                        </div>
                    </div>
                    <div class="modal-transactions-add-row modal-transactions-add-error" v-if="errors.hasOwnProperty('created_at') && !isTransferFieldShown">
                        <strong>{{ errors.created_at[0] }}</strong>
                    </div>
                    <div class="modal-transactions-add-row">
                        <div class="modal-transactions-add-row-label">
                            <label for="amount">Amount:</label>
                        </div>
                        <div class="modal-transactions-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('amount') }">
                            <input type="number" step="0.01" name="amount" id="amount" v-model="amount_field" />
                        </div>
                    </div>
                    <div class="modal-transactions-add-row modal-transactions-add-error" v-if="errors.hasOwnProperty('amount')">
                        <strong>{{ errors.amount[0] }}</strong>
                    </div>
                    <div class="modal-transactions-add-row">
                        <div class="modal-transactions-add-row-label">
                            <label for="description">Description:</label>
                        </div>
                        <div class="modal-transactions-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('description') }">
                            <input type="text" name="description" id="description" v-model="description_field" />
                        </div>
                    </div>
                    <div class="modal-transactions-add-row modal-transactions-add-error" v-if="errors.hasOwnProperty('description')">
                        <strong>{{ errors.description[0] }}</strong>
                    </div>
                    <div class="modal-transactions-add-row">
                        <div class="modal-transactions-add-row-label">
                            <label for="group_id">Group:</label>
                        </div>
                        <div class="modal-transactions-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('group_id') }">
                            <select name="group_id" id="group_id" v-model="group_id_field" :disabled="action_field === 'transfer'">
                                <option v-for="group in modal_data.transaction_groups[action_field]" :value="group.id">{{ group.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-transactions-add-row modal-transactions-add-error" v-if="errors.hasOwnProperty('group_id')">
                        <strong>{{ errors.group_id[0] }}</strong>
                    </div>
                    <div class="modal-transactions-add-row" v-if="isTransferFieldShown">
                        <div class="modal-transactions-add-row-label">
                            <label for="storage_id">Transfer to:</label>
                        </div>
                        <div class="modal-transactions-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('transfer_id') }">
                            <select name="group_id" id="storage_id" v-model="storage_id_field">
                                <option value="" disabled selected hidden>Select a storage</option>
                                <option v-for="storage in storages_list" :value="storage.id">{{ storage.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-transactions-add-row modal-transactions-add-row-button">
                        <input type="submit" value="Add" id="submit" @click.prevent="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddTransactionModal",
        props: ['modal_data', 'errors'],
        data: function () {
            return {
                action_field: 'subtract',
                amount_field: '',
                description_field: '',
                group_id_field: _.first(this.$props.modal_data.transaction_groups.subtract).id,
                storage_id_field: '',
                created_at_field: moment().format('Y-MM-DD'),
                loaded: false
            }
        },
        computed: {
            isTransferFieldShown: function () {
                return this.$data.action_field === 'transfer';
            },
            storages_list: function () {
                return _.filter(this.$props.modal_data.storages, element => {
                    return element.id !== this.$props.modal_data.storage_id;
                })
            }
        },
        methods: {
            submit: function () {
                let data = {
                    action: this.$data.action_field,
                    amount: this.$data.amount_field,
                    description: this.$data.description_field,
                    created_at: this.$data.created_at_field,
                    group_id: this.$data.group_id_field,
                    storage_id: this.modal_data.storage_id,
                    transfer_id: this.$data.storage_id_field,
                };
                window.axios.put(data.action === 'transfer' ? '/transfers' : '/transactions', data)
                    .then(function (response) {
                        window.location.reload();
                    })
                    .catch(error => {
                        if (error.response.status === 403) {
                            this.showModal('error', {}, error.response.data.message);
                        } else {
                            this.writeErrorsToCurrentModal(error.response.data.errors);
                        }
                    });
            },
            resetTransferFields: function () {
                this.$data.group_id_field = _.first(this.$props.modal_data.transaction_groups[this.$data.action_field]).id;
                this.$data.storage_id_field = '';
            }
        },
        created: function () {
            if (_.size(this.$props.modal_data.transaction_groups) < 2) {
                this.showModal('error', null, 'No transaction groups were found. Add some first.');
            } else {
                this.loaded = true;
            }
        }
    }
</script>
