<template>
    <div class="modal-background" @click.self="closeModal">
        <div class="modal-wrapper">
            <a class="modal-close-button" @click="closeModal"></a>
            <div class="modal-form">
                <h2>Add a group</h2>
                <form>
                    <div class="modal-transaction-groups-add-row">
                        <div class="modal-transaction-groups-add-row-label">
                            <label for="group_name">Group name:</label>
                        </div>
                        <div class=" modal-transaction-groups-add-row-input" :class="{ 'modal-input-error': errors.hasOwnProperty('name') }">
                            <input type="text" name="group_name" id="group_name" ref="name" />
                        </div>
                    </div>
                    <div class="modal-transaction-groups-add-row modal-transaction-groups-add-error" v-if="errors.hasOwnProperty('name')">
                        <strong>{{ errors.name[0] }}</strong>
                    </div>
                    <div class="modal-transaction-groups-add-row">
                        <div class="modal-transaction-groups-add-row-label">
                            <label for="action">Action:</label>
                        </div>
                        <div class="modal-transaction-groups-add-row-input">
                            <select name="action" id="action" ref="action">
                                <option v-for="action in modal_data" :value="action">{{ action }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-transaction-groups-add-row modal-transaction-groups-add-error" v-if="errors.hasOwnProperty('action')">
                        <strong>{{ errors.action[0] }}</strong>
                    </div>
                    <div class="modal-transaction-groups-add-row modal-transaction-groups-add-row-button">
                        <input type="submit" value="Add" @click.prevent="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddTransactionGroupModal",
        props: ['modal_data', 'errors'],
        methods: {
            submit: function () {
                let data = {
                    action: this.$refs.action.value,
                    name: this.$refs.name.value,
                };
                this.addTransactionGroup(data);
            }
        }
    }
</script>
