<template>
    <div class="modal-background" @click.self="closeModal">
        <div class="modal-wrapper modal-error">
            <a class="modal-close-button" @click="closeModal"></a>
            <div class="modal-form">
                <div class="modal-error-message">
                    <h2>Error happened...</h2>
                    <span>{{ errors.toString() }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ErrorModal",
        props: ['errors']
    }
</script>
