<template>
    <div class="modal-background" @click.self="closeModal">
        <div class="modal-wrapper">
            <a class="modal-close-button" @click="closeModal"></a>
            <div class="modal-form">
                <h2>Log In</h2>
                <form>
                    <div class="modal-login-row">
                        <div class="modal-login-row-label">
                            <label for="name">User name</label>
                        </div>
                        <div class="modal-login-row-input">
                            <input id="name" type="text" class="form-control" name="username" ref="login_name" required autofocus>
                        </div>
                    </div>

                    <div class="modal-login-row">
                        <div class="modal-login-row-label">
                            <label for="password">Password</label>
                        </div>
                        <div class="modal-login-row-input">
                            <input id="password" type="password" name="password" ref="login_password" required>
                        </div>
                    </div>

                    <div class="modal-login-row modal-login-row-remember-me-checkbox">
                        <label>
                            <input type="checkbox" name="remember" ref="login_remember" :checked="modal_data.remember"> Remember me
                        </label>
                    </div>

                    <div class="modal-login-row modal-login-row-button">
                        <button @click.prevent="submit">
                            Login
                        </button>
                    </div>

                    <div class="modal-login-row modal-login-row-forgot-password">
                        <a href="/password/reset">
                            Forgot Your Password?
                        </a>
                    </div>
                    <div class="modal-login-row modal-login-error" v-for="error in errors" v-if="error_exists">
                        <strong>{{ error.toString() }}</strong>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'LoginModal',
        props: ['modal_data', 'errors'],
        methods: {
            submit: function () {
                let data = {
                    'name': this.$refs.login_name.value,
                    'password': this.$refs.login_password.value,
                    'remember': this.$refs.login_remember.value,
                };
                this.login(data);
            }
        },
        computed: {
            error_exists: function () {
                return this.errors.hasOwnProperty('name') || this.errors.hasOwnProperty('password');
            }
        }
    }
</script>
