<template>
    <div>
        <a v-if="!expand" @click.prevent="toggle_expand">Select a month</a>
        <form :action="route" method="GET" v-if="expand">
            <label for="month">
                Select a month:
            </label><br />
            <input type="month" v-model="selected" id="month" />
            <input type="submit" value="Show" @click.prevent="go" />
        </form>
    </div>
</template>

<script>
    export default {
        name: "ExpectedMonthSelector",
        props: ['current_month', 'route'],
        data: function () {
            return {
                selected: this.$props.current_month,
                expand: false,
            }
        },
        computed: {
            target_route: function () {
                return this.$props.route + '/' + this.$data.selected;
            },
        },
        methods: {
            go: function () {
                window.location.assign(this.target_route);
            },
            toggle_expand: function () {
                this.$data.expand = true;
            }
        }
    }
</script>
