<template>
    <div class="index-expectation-wrapper">
        <h3>Expectation status:</h3>
        <div class="index-expectation-list">
            <div class="index-expectation-list-row" v-for="item in prepared_items">
                <div class="index-expectation-list-block">
                    <b>{{ item.group_name }}.</b>
                    You've spent <span class="currency index-selection">{{ item.current }}</span> out of <span class="currency index-selection">{{ item.expected }}</span>.
                </div>
                <div class="index-expectation-list-block index-expectation-list-alert-box" :class="getColorClass(item.warning_level)">
                    {{ getMessage(item.warning_level) }}
                </div>
            </div>
        </div>
        <div class="index-go-to">
            <a :href="expectation_route">Go to expected expenses</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ExpectationStatus",
        props: ['expectation_items', 'expectation_route'],
        data: function () {
            return {
                message: {
                    0: "Everything is OK.",
                    1: "You're reaching the limit.",
                    2: "You've reached the limit.",
                    3: "You've exceeded the limit!",
                },
                color_class: {
                    0: 'index-expectation-color-ok',
                    1: 'index-expectation-color-warning',
                    2: 'index-expectation-color-strong-warning',
                    3: 'index-expectation-color-alert',
                },
            }
        },
        computed: {
            prepared_items: function () {
                let result = [];
                _.each(this.$props.expectation_items, (value, key, collection) => {
                    value.warning_level = this.getWarningLevel(value.current, value.expected);
                    value.current = _.round(value.current, 2);
                    result.push(value);
                });

                return result;
            }
        },
        methods: {
            getMessage: function (warning_level) {
                return this.$data.message[warning_level];
            },
            getColorClass: function(warning_level) {
                return this.$data.color_class[warning_level];
            },
            getWarningLevel: function (current, expected) {
                let coefficient = current / expected;
                if (coefficient < 0.9) {
                    return 0;
                }

                if (coefficient >= 0.9 && coefficient < 1) {
                    return 1;
                }

                if (coefficient === 1) {
                    return 2;
                }

                if (coefficient > 1) {
                    return 3;
                }
            }
        }
    }
</script>

<style scoped>

</style>