<template>
    <transition name="fade">
        <ErrorModal :errors="errors" v-if="name === 'error'" />
        <LoginModal :modal_data="data" :errors="errors" v-if="name === 'login'" />
        <AddStorageModal :modal_data="data" :errors="errors" v-if="name === 'add-storage'" />
        <AddTransactionModal :modal_data="data" :errors="errors" v-if="name === 'add-transaction'" />
        <AddTransactionGroupModal :modal_data="data" :errors="errors" v-if="name === 'add-transaction-group'" />
    </transition>
</template>

<script>
    import LoginModal from '@modals/LoginModal';
    import ErrorModal from '@modals/ErrorModal';
    import AddStorageModal from '@modals/AddStorageModal';
    import AddTransactionModal from '@modals/AddTransactionModal';
    import AddTransactionGroupModal from '@modals/AddTransactionGroupModal';

    export default {
        name: 'Modals',
        components: {
            LoginModal,
            ErrorModal,
            AddStorageModal,
            AddTransactionModal,
            AddTransactionGroupModal
        },
        computed: {
            name: function() {return this.$store.state.modal.name},
            data: function() {return this.$store.state.modal.data},
            errors: function() {return this.$store.state.modal.errors}
        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
