<template>
    <div class="storage-transactions-wrapper">
        <a class="storage-transactions-filter-show" @click.prevent="toggleFilterForm" v-if="transactions_data.data.length > 0">{{ show_filters_text }}</a>
        <form class="storage-transactions-filter" ref="filter_form" @keyup.enter="getFilteredItems(false)" v-if="filter_shown">
            <div class="storage-transactions-filter-column">
                <div class="storage-transactions-filter-row">
                    <label for="date-from">Date from:</label><br />
                    <input type="date" name="date-from" id="date-from" v-model="form_input['date_from']" />
                </div>
                <div class=" storage-transactions-filter-row">
                    <label for="date-to">Date to:</label><br />
                    <input type="date" name="date-to" id="date-to" v-model="form_input['date_to']" />
                </div>
            </div>
            <div class="storage-transactions-filter-column">
                <div class="storage-transactions-filter-row">
                    <label for="amount-from">Amount from:</label><br />
                    <input
                            type="number"
                            name="amount-from"
                            id="amount-from"
                            step="0.01"
                            v-model="form_input['amount_from']"
                            :placeholder="filter_data.amount_from"
                    />
                </div>
                <div class="storage-transactions-filter-row">
                    <label for="amount-to">Amount to:</label><br />
                    <input
                            type="number"
                            name="amount-to"
                            id="amount-to"
                            step="0.01"
                            v-model="form_input['amount_to']"
                            :placeholder="filter_data.amount_to"
                    />
                </div>
            </div>
            <div class="storage-transactions-filter-column">
                <div class="storage-transactions-filter-row">
                    <label>Actions:</label><br />
                    <div class="storage-transactions-filter-container" @click.stop="actionFilterShow" v-on-clickaway.self="hideSelect">
                        <div class="storage-transactions-filter-select" :class="{ focused: action_select }">
                            <span>{{ form_input['action'] ? form_input['action'] : 'All' }}</span>
                        </div>
                        <div class="storage-transactions-filter-dropdown" v-if="action_select">
                            <label class="storage-transactions-filter-dropdown-row" v-for="action in filter_data.actions">
                                <input type="radio" :value="action" :id="action" v-model="form_input['action']" />
                                {{ action }}
                            </label>
                            <label class="storage-transactions-filter-dropdown-row">
                                <a @click="form_input['action'] = ''">Clear field</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="storage-transactions-filter-row">
                    <label>Groups:</label><br />
                    <div class="storage-transactions-filter-container" @click.stop="groupFilterShow" v-on-clickaway.self="hideSelect">
                        <div class="storage-transactions-filter-select" :class="{ focused: group_select }">
                            <span>{{ selectInputText(form_input['group']) }}</span>
                        </div>
                        <div class="storage-transactions-filter-dropdown" v-if="group_select">
                            <label class="storage-transactions-filter-dropdown-row" v-for="group in groups()" :key="group.id">
                                <input type="checkbox" :value="group.name" :id="group.id" v-model="form_input['group']" />
                                {{ group.name }}
                            </label>
                            <label class="storage-transactions-filter-dropdown-row">
                                <a @click="form_input['group'] = []">Clear field</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="storage-transactions-filter-column storage-transactions-filter-actions">
                <a @click.prevent="getFilteredItems(false)">+ Apply filter</a>
                <a @click.prevent="getFilteredItems(true)">- Reset filter</a>
            </div>
        </form>
        <div class="storage-transactions-row storage-transactions-head storage-transactions-sort" v-if="transactions.data.length > 0">
            <div class="storage-transactions-column" :class="drawSortArrow('date')" @click="applySort('date')">Date</div>
            <div class="storage-transactions-column" :class="drawSortArrow('amount')" @click="applySort('amount')">Amount</div>
            <div class="storage-transactions-column" :class="drawSortArrow('group')" @click="applySort('group')">Group</div>
        </div>
        <div class="storage-transactions-row storage-transactions-description" v-for="transaction in transactions.data" v-if="transactions.data.length > 0">
            <div class="storage-transactions-column"><a v-bind:href="'/transactions/' + transaction.id">{{ transaction.created_at }}</a></div>
            <div class="storage-transactions-column currency">{{ transaction.amount.toLocaleString() }}</div>
            <div class="storage-transactions-column">{{ transaction.name }}</div>
            <div class="storage-transactions-column storage-transactions-delete-button">
                <a @click="deleteTransaction(transaction)"></a>
            </div>
            <div class="storage-transactions-description-popup" v-if="transaction.description != null">
                <span>
                    {{ transaction.description }}
                </span>
            </div>
        </div>
        <div class="storage-transactions-row storage-transactions-no-items" v-if="transactions.data.length <= 0">
            <h3>There is no transactions.</h3>
        </div>
        <div class="storage-transactions-row storage-transactions-total">
            <div class="storage-transactions-total-row">
                <div class="storage-transactions-total-col">Total</div>
                <div class="storage-transactions-total-col currency">{{ balance.toLocaleString() }}</div>
            </div>
            <div class="storage-transactions-total-row">
                <div class="storage-transactions-total-col" v-if="filtered_total !== 0">Filtered</div>
                <div class="storage-transactions-total-col currency" v-if="filtered_total !== 0">{{ filtered_total.toLocaleString() }}</div>
            </div>
        </div>
        <ul class="pagination" v-if="transactions.last_page > 1">
            <li class="page-item">
                <span class="page-link" v-if="!prev_page_active">‹</span>
                <a class="page-link" v-if="prev_page_active" @click.prevent="getPage(prev_page)">‹</a>
            </li>
            <li class="page-item" v-for="page in page_menu_range">
                <span class="page-link" v-if="isCurrentPage(page)">{{ page }}</span>
                <a class="page-link" @click.prevent="getPage(page)" v-if="!isCurrentPage(page)">{{ page }}</a>
            </li>
            <li class="page-item">
                <span class="page-link" v-if="!next_page_active">›</span>
                <a class="page-link" v-if="next_page_active" @click.prevent="getPage(next_page)">›</a>
            </li>
        </ul>
    </div>
</template>

<script>
    import { directive as onClickaway } from 'vue-clickaway';

    export default {
        name: "Transactions",
        props: ['transactions_data', 'initial_balance', 'init_sort', 'init_sort_by', 'filter_data'],
        directives: {
            onClickaway: onClickaway
        },
        data: function () {
            return {
                transactions: this.$props.transactions_data,
                balance: this.$props.initial_balance,
                storage_id: location.pathname.replace('/storages/', ''),
                sort: this.$props.init_sort,
                sort_by: this.$props.init_sort_by !== 'desc',
                filter_shown: false,
                filtered_total: 0,
                action_select: false,
                group_select: false,
                form_input: {},
            }
        },
        mounted: function () {
            this.resetFilter();
        },
        computed: {
            prev_page: function () {
                return this.$data.transactions.current_page - 1;
            },
            next_page: function () {
                return this.$data.transactions.current_page + 1;
            },
            prev_page_active: function () {
                return this.$data.transactions.current_page !== 1;
            },
            next_page_active: function () {
                return this.$data.transactions.current_page !== this.$data.transactions.last_page;
            },
            sort_by_converted: function () {
                return this.$data.sort_by ? 'asc' : 'desc';
            },
            show_filters_text: function () {
                return this.$data.filter_shown ? '- Hide filters' : '+ Show filters';
            },
            page_menu_range: function () {
                let page = this.$data.transactions.current_page;
                let active = _.range(page - 2, page + 3, 1);
                let range = _.range(1, this.$data.transactions.last_page + 1, 1);
                return range.filter(el => {
                    return el === 1
                        || el === this.$data.transactions.last_page
                        || active.includes(el);
                });
            }
        },
        methods: {
            deleteTransaction: function (transaction) {
                window.axios.delete(
                        transaction.action === 'transfer' ? '/transfers' : '/transactions',
                        {
                            data: {
                                'id': transaction.id,
                                'storage_id': this.$data.storage_id,
                            }
                        }
                    )
                    .then(response => {
                        this.$data.transactions = response.data.transactions;
                        this.$data.balance = response.data.balance;
                        this.setPageParameter(this.$data.transactions.current_page);
                    })
                    .catch(error => {
                        this.showModal('error', {}, error.response.data.message);
                    });
            },
            getPage: function (page) {
                window.axios.get('/transactions', {
                        params: {
                            'storage_id': this.$data.storage_id,
                            'page': page,
                            'sort': this.$data.sort,
                            'sort_by': this.sort_by_converted
                        }
                    })
                    .then(response => {
                        this.$data.transactions = response.data.transactions;
                        this.$data.balance = response.data.balance;
                        this.setPageParameter(page);
                    })
                    .catch(error => {
                        this.showModal('error', {}, error.response.data.message);
                    });
            },
            getFilteredItems: function (reset) {
                let filter = {};
                if (!reset) {
                    filter = _.pickBy(this.$data.form_input, (value, key) => {
                        return value.length > 0;
                    });
                } else {
                    this.$refs.filter_form.reset();
                    this.resetFilter();
                }

                window.axios.post('/transactions', {
                        'storage_id': this.$data.storage_id,
                        'filter': filter
                    })
                    .then(response => {
                        this.$data.transactions = response.data.transactions;
                        this.$data.balance = response.data.balance;
                        this.$data.filtered_total = reset ? 0 : response.data.filtered_total;
                        this.setPageParameter(this.$data.transactions.current_page);
                    })
                    .catch(error => {
                        this.showModal('error', {}, error.response.data.message);
                    });
            },
            setPageParameter: function (page) {
                let parameters = page !== 1 ? '?page=' + page : window.location.pathname;
                window.history.replaceState(null, null, parameters);
            },
            applySort: function (sort) {
                this.$data.sort_by = sort === this.$data.sort ? !this.$data.sort_by : false;
                this.$data.sort = sort;
                this.getPage(this.$data.transactions.current_page);
            },
            isCurrentPage: function (page) {
                return page === this.$data.transactions.current_page;
            },
            drawSortArrow: function (sort) {
                if (sort !== this.$data.sort) {
                    return '';
                }

                return 'storage-transactions-sort-' + this.sort_by_converted;
            },
            toggleFilterForm: function () {
                this.$data.filter_shown = !this.$data.filter_shown;
            },
            selectInputText: function (data) {
                if (data === undefined || data.length === 0) {
                    return 'All';
                }

                if (data.length === 1) {
                    return data[0];
                }

                if (data.length > 1) {
                    return 'Selected: ' + data.length;
                }
            },
            hideSelect: function () {
                this.$data.action_select = false;
                this.$data.group_select = false;
            },
            resetFilter: function () {
                this.$data.form_input['date_from'] = '';
                this.$data.form_input['date_to'] = '';
                this.$data.form_input['amount_from'] = '';
                this.$data.form_input['amount_to'] = '';
                this.$data.form_input['action'] = '';
                this.$data.form_input['group'] = [];
            },
            groups: function () {
                if (this.$data.form_input['action'].length > 0) {
                    return _.filter(this.$props.filter_data.groups, element => {
                        return element.action === this.$data.form_input['action'];
                    });
                }

                return this.$props.filter_data.groups;
            },
            actionFilterShow: function () {
                this.$data.group_select = false;
                this.$data.action_select = !this.$data.action_select;
            },
            groupFilterShow: function () {
                this.$data.action_select = false;
                this.$data.group_select = !this.$data.group_select;
            }
        }
    }
</script>
