.expected-expenses {
  @line-height-form: 35px;

  &-wrapper {
    display: block;
    text-align: left;
    min-width: @main-min-width - 10px;
    width: 90%;
    margin: 0 auto;

    table {
      border-collapse: collapse;
    }
  }

  &-table {
    min-width: @main-min-width - 10px;
    width: 80%;
    margin: 0 auto;

    &-head {
      font-weight: bold;
    }

    &-empty {
      text-align: center;
    }

    &-edit {
      justify-content: flex-end;
    }

    &-row {
      line-height: @line-height-form;
      border-top: @border-delimiter;
      display: flex;
      align-items: center;

      div:not(:first-child) {
        padding-left: 5px;
      }
    }

    &-cell {
      display: inline-block;
      vertical-align: top;
    }

    &-group {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 25%;
    }

    &-expected {
      width: 23%;
    }

    &-current {
      width: 23%;
    }
  }

  &-form {
    display: flex;
    justify-content: center;

    input:not([type='submit']):not([type='button']) {
      width: 100%;
      padding: 0 5px;
    }

    &-row {
      line-height: @line-height-form;

      td:not(:first-child),
      th:not(:first-child) {
        padding-left: 15px;
      }
    }

    &-button {
      text-align: right;
      margin-top: 5px;
    }
  }
}