.index {
  @min-width: @main-min-width - 10px;

  &-balance {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    min-width: @min-width;
  }

  &-selection {
    font-weight: bold;
  }

  &-list {
    @col-width: 23%;

    .transaction-list(@col-width);

    &-column:first-child {
      width: 26%;
    }
  }

  &-common-text {
    margin: 0;

    a {
      text-decoration: underline;
    }
  }

  &-go-to {
    margin: 10px 0;
  }

  &-expectation {
    &-wrapper {
      width: 90%;
      min-width: @min-width;
      margin: 0 auto;
      text-align: left;
    }

    &-list {
      &-row {
        line-height: @line-height-base - 2px;
        margin: 1px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &-block {
        display: inline-block;
      }

      &-alert-box {
        //border: @main-link-color solid 2px;
        padding: 0 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 200px;
      }
    }

    &-color {
      &-ok {
        background-color: lawngreen;
      }

      &-warning {
        background-color: yellow;
      }

      &-strong-warning {
        background-color: orange;
      }

      &-alert {
        background-color: lighten(@main-error-color, 25);
      }
    }
  }

  &-chart {
    &-base {
      width: 90%;
      min-width: @min-width;
      margin: 0 auto;
    }

    &-main-title {
      text-align: left;
      margin: 10px auto;
    }

    &-title {
      font-weight: bold;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-block {
      width: @min-width;
    }
  }
}
