.login {
  @login-margin: 5px;

  &-wrapper {
    position: relative;
    text-align: center;
  }

  &-body {
    width: 90%;
    margin: 0 auto;
  }

  &-row {
    width: 181px;
    margin: @login-margin auto;

    &-label {
      display: block;
      text-align: left;
    }

    &-remember-me-checkbox {
      text-align: right;
    }

    &-actions {
      &-button {
        display: block;
        margin: @login-margin auto;
      }

      &-forgot-password {
        display: block;
        text-align: center;
        margin: @login-margin auto;
      }
    }
  }
}