html {
  display: flex;
  min-height: 100%;
  justify-content: center;
}

body {
  display: block;
  position: relative;
  background-color: @body-bg;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Exo 2', sans-serif;
}

.main-body-wrapper {
  min-height: 100%;
}

main {
  text-align: center;
}

a {
  text-decoration: none;
  color: @main-link-color;

  &:hover {
    text-decoration: none;
    color: @hover-link-color;
    cursor: pointer;
  }
}

h2,
h3 {
  margin: 10px 0;
}

input:focus {
  .focused;
}

select:focus {
  outline: none;
}

input,
select,
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
}

input,
select {
  border: 1px solid darkgray;

  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    width: 5px;
    height: 5px;
    background-color: transparent;
    cursor: pointer;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  min-width: @main-min-width;
  width: @main-width;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 5px;
  overflow: hidden;
  position: relative;
}

.currency:after {
  content: "₽";
  margin-left: 3px;
}

.script-link {
  &:hover {
    cursor: pointer;
  }
}
