.modal {
  @modal-width-padding: 60px;
  @modal-height-padding: 40px;

  &-background {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  &-input-error {
    outline: 1px solid @main-error-color;

    input:focus,
    select:focus {
      outline: none;
    }
  }

  &-form {
    width: 100%;

    h2 {
      margin-top: 0;
      text-align: center;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: @main-link-color solid 2px;
    border-radius: 10px;
    background: white;
    padding: @modal-height-padding @modal-width-padding;
    width: @main-min-width - 2 * @modal-width-padding;
    z-index: 3;
  }

  &-close-button {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("/svg/delete.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 5px;
    top: 5px;

    &:hover {
      background-image: url("/svg/delete-highlight.svg");
      cursor: pointer;
    }
  }

  &-error-message {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.modal-transactions-add,
.modal-storages-add,
.modal-transaction-groups-add,
.modal-login {
  .form-mixin;
}

.modal-login {
  &-row {
    &-remember-me-checkbox {
      font-size: @font-size-base;
      align-items: flex-end;
    }

    &-forgot-password {
      font-size: @font-size-base;
      align-items: center;
    }
  }
}

.modal-transactions-add {
  &-row-actions {
    label {
      display: block;
      width: 50%;
      height: 25px;
    }
  }
}

