.main-navigation {
  @main-nav-margin: 10px;

  display: flex;
  background: @navigation-bg;
  text-align: left;
  height: 40px;

  &-menu-button {
    display: inline-block;
    color: white;
    content: "";
    background-image: url("/svg/menu.svg");
    background-size: 25px 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &-user {
    display: inline-block;
    color: white;
    margin: auto 0;
    margin-left: @main-nav-margin;
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    width: 40px;
    height: 40px;
    text-align: center;

    &:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.navigation {
  @transition-time: 0.3s;

  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: @main-min-width;
  background: @navigation-bg;
  height: 100%;
  left: -@main-min-width;
  transition: All @transition-time;
  z-index: 1;

  &-menu-close {
    position: absolute;
    display: inline-block;
    color: white;
    content: "";
    background-image: url("/svg/close.svg");
    background-size: 15px 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &-item {
    display: block;
    text-align: left;
    height: @navigation-line-height;

    a,
    span {
      display: block;
      line-height: @navigation-line-height;
      vertical-align: middle;
      font-size: @font-size-base;
      padding: 0 15px;
      background: @navigation-bg;
      text-decoration: none;
      color: white;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
      }
    }

    &-username {
      margin-bottom: 15px;
      color: white;

      a:hover,
      span:hover {
        background: transparent;
      }
    }

    &-logout-form {
      display: none;
    }
  }

  &-shown {
    transform: translateX(@main-min-width);
  }
}