.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;

  .page-item {
    display: inline-block;
    width: 25px;
    height: @navigation-line-height;
    text-align: center;

    .page-link {
      display: block;
      line-height: @navigation-line-height;
      vertical-align: middle;
      font-size: @font-size-base;
      text-decoration: none;
    }
  }
}
