.storage-transactions {
  @col-width: 31%;

  .transaction-list(@col-width);

  &-sort {
    div {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    &-desc:after {
      .sort-arrow;
      transform: rotate(180deg);
    }

    &-asc:after {
      .sort-arrow;
      transform: rotate(0deg);
    }
  }

  &-delete-button {
    width: 0;

    a {
      display: block;
      position: absolute;
      margin: auto 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: @storages-line-height;
      height: @storages-line-height;
      background-image: url("/svg/delete.svg");
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: none;
      text-align: right;

      &:hover {
        background-image: url("/svg/delete-highlight.svg");
      }
    }
  }

  &-add {
    width: 90%;
    margin: 0 auto 10px;
    text-align: left;
  }

  &-total {
    font-weight: bold;
    border-top: none;

    &-col {
      display: inline-block;
      width: @col-width;
      overflow: visible;
    }
  }

  &-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input,
    select {
      width: 100%;
      padding: 0;
      font-size: @font-size-base;
    }

    input[type="checkbox"],
    input[type="radio"] {
      height: 15px;
      width: 15px;
    }

    &-column {
      width: 30%;
      min-width: @main-min-width / 3 * 0.9;
    }

    &-actions {
      display: flex;
      justify-content: space-around;
      width: 100%;
      line-height: 50px;
    }

    &-show {
      display: inline-block;
      margin-bottom: 10px;
    }

    &-row {
      vertical-align: middle;
    }

    &-container {
      position: relative;
    }

    &-select {
      position: relative;
      display: flex;
      padding-left: 4px;
      align-items: center;
      width: 100%;
      height: 30px;
      border: darkgray solid 1px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &::after {
        display: none;
        content: "";
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("/svg/sort-arrow.svg");
        background-size: 5px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform: rotate(180deg);
      }

      &:hover {
        cursor: pointer;

        &::after {
          display: block;
        }
      }
    }

    &-dropdown {
      position: absolute;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      top: 31px;
      border: darkgray solid 1px;
      z-index: 2;
      background-color: white;
      overflow: hidden;
      text-align: left;
      padding: 0 5px;
      border-top: none;

      input[type="checkbox"]:focus,
      input[type="radio"]:focus {
        outline: none;
      }

      &-row {
        display: block;
        line-height: 25px;

        a {
          display: block;
          width: 100%;
        }

        &:hover {
          cursor: pointer;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}