.storages {
  @col-width: 32%;

  &-wrapper{
    display: block;
    text-align: left;
    min-width: @main-min-width - 10px;
    width: 90%;
    margin: 0 auto;
  }

  &-row {
    border-top: @border-delimiter;
    line-height: @storages-line-height;
    position: relative;

    &:hover {
      background-color: @list-hover-bg;
    }

    &:first-child,
    &:last-child {
      border-top: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &-column {
    display: inline-block;
    vertical-align: middle;
    width: @col-width;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      width: 0;
    }
  }

  &-delete-button {
    display: block;
    position: absolute;
    margin: auto 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: @storages-line-height;
    height: @storages-line-height;
    background-image: url("/svg/delete.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    text-align: right;

    &:hover {
      background-image: url("/svg/delete-highlight.svg");
    }
  }

  &-header {
    font-weight: bold;
  }

  &-total {
    font-weight: bold;
    border-top: none;

    &:hover {
      background: transparent;
    }
  }

  &-no-items {
    text-align: center;
  }

  &-add {
    margin-bottom: 10px;
  }
}
