.transaction-groups {
  &-items-wrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  &-items-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &-items-block {
    width: @main-min-width / 2 - 10px;
  }

  &-items-row {
    text-align: left;
  }

  &-head {
    text-align: center;
  }

  &-name {
    position: relative;
    line-height: @storages-line-height;
    vertical-align: middle;
    padding: 0;

    a {
      display: block;
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto 0;
      width: @storages-line-height;
      height: @storages-line-height;
      background-image: url("/svg/delete.svg");
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &:hover {
        background-image: url("/svg/delete-highlight.svg");
      }
    }
  }

  &-add {
    text-align: left;
    margin-bottom: 10px;
  }
}