.transaction {
  @padding: 0 10px;

  &-info {
    padding: @padding;
    border: none;
    border-spacing: 0;
    margin: 0 auto;
    min-width: @main-min-width;

    &-data {
      padding-left: 20px;

      input,
      select {
        width: 100%;
      }
    }

    &-head {
      font-weight: bold;
    }
  }

  &-row {
    text-align: left;
    line-height: @line-height-base;
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &-action {
    display: inline-block;
  }
}