.form-mixin {
  &-row {
    margin: 5px 0;
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &-label,
    &-input {
      display: block;
      font-size: @font-size-base;
      width: 100%;
      margin: 2px 0;
    }

    &-input {
      input,
      select,
      button {
        width: 100%;
      }

      input[type="checkbox"],
      input[type="radio"] {
        height: 15px;
        width: 15px;
        outline: none;
      }
    }

    &-button {
      font-size: @font-size-base;
      justify-content: flex-end;
    }
  }

  &-error {
    font-size: @font-size-base;
    color: @main-error-color;
    align-items: center;
    text-align: center;
  }
}

.template-form {
  .form-mixin;

  &-body {
    width: @main-min-width;
    margin: 0 auto;
  }

  &-form {
    padding: 0 60px;
    text-align: left;
  }

  &-wrapper {
    position: relative;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}

.sort-arrow {
  content: "";
  display: inline-block;
  background-image: url("/svg/sort-arrow.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.focused {
  outline: 1px solid @hover-link-color;
}

.transaction-list(@col-width) {
  &-wrapper {
    display: block;
    text-align: left;
    min-width: @main-min-width - 10px;
    width: 90%;
    margin: 0 auto;
  }

  &-row {
    display: block;
    line-height: @storages-line-height;
    position: relative;

    &:first-child {
      border-top: none;
    }
  }

  &-wrapper > &-row ~ &-row {
    border-top: @border-delimiter;
  }

  &-column {
    display: inline-block;
    vertical-align: middle;
    width: @col-width;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-head {
    font-weight: bold;
  }

  &-description {
    @height: 50px;
    @border: 2px;
    @width: 200px;
    @popup-position: -@height - 2 * @border;
    @popup-start-position: @popup-position - 10px;

    &-popup {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: @width;
      height: @height;
      background-color: white;
      bottom: @popup-start-position;
      right: 0;
      padding: 0;
      z-index: -1;
      border: @main-link-color solid @border;
      border-radius: 5px;
      opacity: 0;
      transition: all .5s;

      span {
        line-height: 14px;
        text-align: center;
      }
    }

    &:hover {
      background-color: @list-hover-bg;
    }

    &:hover > &-popup {
      bottom: @popup-position;
      z-index: 1;
      opacity: 1;
    }
  }

  &-no-items {
    text-align: center;
  }
}