
// Body
@body-bg: #d1cde3;
@main-min-width: 360px;
@main-width: 60%;
@main-link-color: #413669;
//@main-error-color: #c70350;
@main-error-color: saturate(spin(@hover-link-color, 60), 80%);
@hover-link-color: #735080;

// Typography
@font-family-sans-serif: "Raleway", sans-serif;
@font-size-base: 16px;
@line-height-base: 1.6;

// Navigation and Pagination
@navigation-line-height: 40px;
@navigation-bg: #735080;

// Storages
@storages-line-height: 25px;

// Inputs
@text-input-width: 119px;

// Common list vars
@list-hover-bg: saturate(lighten(@main-link-color, 65%), 20%  );

// Border
@border-delimiter: @navigation-bg dashed 1px;